body{
  text-align: center;
}

table{
  margin-left: auto;
  margin-right: auto;
}

td{
  position: relative;
  width: 80px;
  height: 80px;
}

.light-checker{
  background-color: #F0D2B4;
}

.dark-checker{
  background-color: #BA7A3A;
}

.selected-checker{
  background-color: #704923;
}

.playing-piece{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid white;
  cursor: pointer;
}

.red-piece{
  background-color: red;
}

.black-piece{
  background-color: black;
}

.king-piece{
  border: 4px solid yellow;
}
